{% include 'header.html' %}
<section id="contact" class="module">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">

                <div class="module-header">
                    <h2 class="module-title">Contact</h2>
                    <div class="module-line"></div>
                </div>

            </div>

        </div><!-- .row -->

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3"></div> 
                <a class="btn btn-block btn-custom-2 wow fadeInUp" type='button' href="{% url 'first_app:contact' %}" data-wow-delay=".3s">Contact Us</a>
            </div>

        </div><!-- .row -->
    </div><!-- .container -->
</section>
{% include 'javascript.html' %}