{% include 'header.html' %}
{% include 'navbar.html' %}
{% load static %}
<body>

<section id="services" class="module module-gray">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">

                <div class="module-header wow fadeInUp">
                    <h2 class="module-title">Services</h2>
                    <div class="module-line"></div>
                    <div class="module-subtitle">
                        He lay on his armour-like back, and if he lifted his head a little he could see his brown
                        belly, slightly domed and divided by arches into stiff sections.
                    </div>
                    <div class="module-line"></div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-4">
                <div class="iconbox wow bounceIn">
                    <div class="iconbox-icon">
                        <span class="icon-screen-desktop"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Web Scraping</h3>
                        <div class="iconbox-desc">
                            We will provide you web scraping service. In this Service, We can Scrape any kind of
                            website in any format
                            Whatever you want whether it is JSON, CSV, or XML. The tool we use in web scraping is
                            Scrapy which is very
                            the powerful framework of python for data extraction.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="iconbox wow bounceIn">
                    <div class="iconbox-icon">
                        <span class="icon-pencil"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Automation</h3>
                        <div class="iconbox-desc">
                            We will provide you Automation service. In this Service, We can automate website, Crate
                            Bots, etc.
                            The tool we use in automation is Selenium which is a very powerful framework of python
                            for automation.
                            Automation is very useful Because It saves a lot of time of yours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="iconbox wow bounceIn">
                    <div class="iconbox-icon">
                        <span class="icon-trophy"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Web Development</h3>
                        <div class="iconbox-desc">
                            We will provide you Website Development service. In this Service, We can build any kind
                            of website.
                            The tool we use in this service is Django which is a very powerful framework of python
                            for web development.
                            Your website will be Fast, responsive & robust.
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<br>  
</body>
{% include 'footer.html' %}
{% include 'javascript.html' %}